body {
    margin: 0;
}

.mainScene {
    position: relative;
    width: 50%;
    height: 650px;
    margin: 0 auto;
    background: black;
}

.platform {
    position: absolute;
    width: 100px;
    height: 15px;
    background: white;
}

.ball {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background: red;
}

.block {
    position: absolute;
}
